.navbar {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.navbar .nav-link {
  color: #1b1818;
}

.navbar .nav-link:not(:first-child) {
  margin-left: 12px;
}

.navbar .nav-link:hover {
  color: #1976d2;
}

.navbar-wrap {
  display: flex;
}
