.todo-container {
    display: flex;
    flex-direction: column;
    min-width: 220px;
    width: 300px;
    height: 100vh;
    background: #eeeeee;
}

.todo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Sans", sans-serif;
    color: #2c3333;
    padding-top: 50px;
    margin-bottom: 25px;
}

@media (max-width: 550px) {
    .input-content {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .form-box {
        margin-top: 50px;
    }
}

@media (max-width: 700px) {
    .todo-container {
        display: none;
    }
}
