.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.todo-title {
    margin-right: 15px;
    font-weight: 300;
}

@media (max-width: 550px) {
    .input-content {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .form-box {
        margin-top: 50px;
    }
}
