@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@200&family=Montserrat:wght@100;300;600&family=Poppins:wght@100;300&family=Sanchez&family=Ubuntu:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    background: url("https://img.freepik.com/free-vector/weather-seamless-pattern-background-vector-cute-doodle-illustration-kids_53876-105731.jpg?w=1480&t=st=1666646581~exp=1666647181~hmac=d259d1044a5e0dbd7a05ddc7225ba79a4c2f7df6466677037885c43c51e646bc");
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
    padding-bottom: 120px;
}

h1 {
    padding-top: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #abd9ff;
}

h3 {
    letter-spacing: 2px;
    color: #1746a2;
}

.pagination {
    display: flex;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (min-width: 320px) {
    h1 {
        margin-top: 60px;
    }

    .App {
        max-height: fit-content;
        min-height: 100vh;
    }
}
