.header {
    height: 80px;
    background-color: #6accbc;
    display: flex;
    justify-content: space-between;
}

.search-container {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}
.to-do {
    text-align: center;
    color: #2c3333;
    margin-top: auto;
    margin-bottom: auto;
}

.section-part {
    display: flex;
    justify-content: flex-start;
}

.add-todo {
    display: flex;
    height: 100vh;
}

.logo {
    display: block;
    margin-left: 20px;
    width: 160px;
    cursor: pointer;
}

h1 {
    text-align: left;
}

.task-title {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 5px;
}

.btn {
    display: flex;
    justify-content: flex-start;
    margin-left: -40px;
}
.list-container {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.background {
    width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.todo-list {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pagination {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    justify-content: center;
    align-items: center;
    bottom: 3%;
}

@media (min-width: 1400px) {
    .pagination {
        top: 90%;
    }
    .background {
        width: 700px;
        height: 500px;
        margin-top: 100px;
    }

    .section-part {
        overflow: hidden;
    }
}

@media (min-width: 700px) {
    .btn {
        display: none;
    }
}

@media (max-width: 700px) {
    .pagination {
        margin-top: 20px;
    }
}
